@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

html *::selection {
  background-color: red;
  color: black;
}

body {
  background: radial-gradient(circle at center, #3a3a3a 0%, #1c1c1c 80%);
  color: white;
  font-size: 18px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.65);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 25px;
  font-size: 24px;
  width: 80vw;
  margin: 0 auto;
}

nav .logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

nav .links ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.65);
}

a {
  text-decoration: none;
  color: red;
}
