* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background: radial-gradient(circle at center, #3a3a3a 0%, #1c1c1c 80%);
  color: #e0e0ff;
  font-size: 18px;
}

nav {
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.356);
  backdrop-filter: blur(100px);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 25px;
  font-size: 24px;
  width: 80vw;
  margin: 0 auto;
}

nav .logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

nav .links ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}



footer {
  text-align: center;
  margin-top: 50px;
  padding: 50px;
  background-color: rgb(15, 15, 15);
  background-color: rgba(0, 0, 0, 0.356);
  backdrop-filter: blur(100px);
}

a {
  text-decoration: none;
  color: wheat;
}

/* .glass-container {
  backdrop-filter: blur(10px);
} */