main {
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

.hero {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.500);
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(100px); 
}

.hero .main-image img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.hero .home-page-text {
  text-align: center;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

main::after, main::before {
  --angle: 0deg;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  /* border: 4px solid transparent; */
  padding: 10px;
  border-radius: 20px;
  background : conic-gradient(from var(--angle), black, gray, black);
  animation: spin 6s linear infinite forwards;
}

main::before {
  filter: blur(20px);
  /* opacity: 0.5; */
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
