.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70vw;
  margin: 0 auto;
  padding: 10px;
  gap: 25px;
}

.card {
  padding: 50px 25px;
  text-align: center;
  background-color: rgb(20, 20, 20);
  border-radius: 20px;
  position: relative;
}

.card a {
  display: block;
  /* width: max-content; */
}

.card p, .card img, .card a {
  margin-bottom: 10px;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before {
  --angle: 0deg;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 20px;
  background : conic-gradient(from var(--angle), #ea76cb, #d20f39, #8839ef, #1e66f5, #ea76cb);
  animation: spin 4s linear infinite forwards;
}

.card::before {
  filter: blur(20px);
  /* opacity: 0.5; */
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

